.af-liste {
  &__container {
  }
  &__tekst {
    margin: 0 0 0.2rem 0;
  }
  &__flex-rad {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #979797;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__flex-innhold {
    min-width: 7rem;
  }
  &__vis-flere {
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
  }
  &__maskinelt-avsluttet {
    display: flex;
    align-items: center;
  }
  &__tittel {
    flex: 1;
  }
  &__ekspander {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: #0067c5;
    text-decoration: underline;
    border: 0;
  }
  &__month {
    text-transform: capitalize;
  }
  &__rapporteringsperiode {
    width: 15rem;
  }
  &__knapp {
    background: none;
    border: none;
    padding: 0;
  }
  &__print-button {
    margin-top: 0.5rem;
  }
}
