.af-liste {
  &__container {
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  &__rad {
    border-bottom: 1px solid #979797;
  }
  &__kolonne {
    padding: 0.5rem 0;
  }
  &__tekst {
    margin: 0 0 0.2rem 0;
  }
  &__flex-rad {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #979797;
    &:last-child {
      border-bottom: 1px solid #979797;
    }
  }
  &__flex-innhold {
    min-width: 7rem;
  }
  &__vis-flere {
    margin: 1rem 0;
    color: #0067c5;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &__lenke {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0067c5;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__tittel {
    flex: 1;
  }
}
