.af-detaljert {
  &__header {
    display: flex;
    padding: 0 0 1rem 0;
  }
  &__kolonne {
    width: 50%;
  }
  &__innhold {
    display: flex;
    flex-wrap: wrap;
  }
  &__boks {
    margin: 0.75rem 0;
    width: 50%;
  }
  &__status {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__arbeidsgiver {
    padding: 0.5rem 0;
  }
  &__tabs {
    margin: 1rem 0;
    &-innhold {
      margin: 2rem 1rem;
    }
  }
  &__orgnr {
    padding: 0.25rem 0;
  }
}
