.arbeidsforhold {
  &__header {
    display: flex;
    padding: 0 0 1rem 0;
  }
  &__rad {
    display: flex;
    padding: 1rem 0;
  }
  &__kolonne {
    width: 50%;
  }
  &__status {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__arbeidsgiver {
    padding: 0.5rem 0;
  }
}
