@use "../../media.scss" as mq;

.af-detaljert {

  /** Intro-seksjon */
  &__intro {
    display: flex;
    flex-wrap: wrap;

    @media #{mq.$desktop} {
      padding: 0 0 0.25rem 0;
    }

    @media #{mq.$tablet} {
      padding: 0 0 0.5rem 0;
    }
  }

  &__seksjon {
    @media #{mq.$desktop} {
      width: 50%;
      padding-right: 2rem;
      box-sizing: border-box;
    }

    @media #{mq.$tablet} {
      width: 100%;
    }
  }

  &__arbeidsgiver {
    padding: 0.5rem 0;
  }

  &__orgnr {
    padding: 0.25rem 0;
  }

  &__periode {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__arbeidsavtaleinnhold {
    display: flex;
    flex-wrap: wrap;
  }

  &__boks {
    margin: 0.75rem 0;
    width: 50%;
    padding-right: 2rem;

    @media #{mq.$mobile} {
      width: 100%;
    }

    & dd {
      margin: 0;
    }
  }

  /** Tabs                   */
  /** ---------------------- */
  &__tabs {
    margin: 1rem 0;

    @media #{mq.$mobile} {
      display: none;
    }
  }

  /** Tabellen               */
  /** ---------------------- */
  &__tableWrapper {
    margin: 2rem 1rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    @media #{mq.$mobile} {
      display: none;
    }

    tr {
      border-bottom: 1px solid #979797;
    }

    th {
      text-align: left;
      width: 33%;
      padding: 0.5rem 0;
    }

    td {
      padding: 0.5rem 0;
      width: 33%;
    }
  }

  /** Print-funksjonalitet   */
  /** ---------------------- */
  &__print-button-oversikt {
    margin-left: 1rem;
    margin-top: 1.5rem;

    svg {
      width: 22px;
      margin-right: 0.5rem;
    }

    button {
      display: flex;
      background-color: transparent;
      cursor: pointer;
      align-items: center;
      color: var(--a-surface-action);
    }
  }

  &__print-button {
    display: flex;
    border: 0px;
    text-decoration: underline;

    a {
      display: flex;
    }

    svg {
      width: 22px;
      margin-right: 0.5rem;
    }
  }

  &__print-button-modal {
    margin: 1rem 0;
    text-decoration: underline;
    cursor: pointer;

    a {
      display: flex;
    }

    svg {
      width: 22px;
      margin-right: 0.5rem;
    }
  }

  &__checkbox {
    padding: 0.25rem 0;
  }

  &__header {
    margin: 1rem 0 0 0;
  }
}