@desktop: ~"all and (min-width: 959px)";
@tablet: ~"all and (max-width: 959px)";
@mobile: ~"all and (max-width: 420px)";

@import "./components/spinner/Spinner.less";
@import "./components/error/Error.less";

@import "modules/af-detaljert/Detaljert.less";
@import "modules/af-liste/Liste.less";

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
